@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ubuntu';
  src: url("./fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: 'ubuntu-md';
  src: url("./fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: 'ubuntu-bd';
  src: url("./fonts/Ubuntu-Bold.ttf");
}

:root {
  font-family: 'ubuntu', sans-serif;
  width: 100vw;
  height: 100vh;
}

body {
  @apply bg-cyan-50 min-h-full min-w-full m-0 flex justify-center items-center;
}
